<ion-view view-title="Kids Tracker Dashboard">
    <ion-content padding="true">
        <center>
            <!-- <div class="item item-avatar"> -->
                <img src="/android_asset/www/img/profile.jpg" alt="profile picture" style="border-radius: 100px; width:50%">
                <h3>Azreel</h3>
            <!-- </div> -->
        </center>

        <div class="list card">
            <div class="item item-icon-left">
                <i class="icon ion-home"></i> No-2 Jalan Lorong Emas, <br> Sungai Besi, Kuala Lumpur
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-ios-telephone"></i> +6012-3344555
            </div>
        </div>
    </ion-content>
</ion-view>